.flight__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.header {
  background-color: rgb(99, 66, 243);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}

.header__wrapper {
 margin: 0 20px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;

 .header__title {
   font-size: 24px;
 }

  .header__price-block {
    display: flex;
    flex-direction: column;
    text-align: end;
  }

  p {
    margin: 0;
  }

  .header__price {
    font-size: 26px;
    margin-bottom: 5px;
  }
  
  .header__price-desc {
    font-size: 12px;
  }
}

.main {
  width: 100%;
}

.main__wrapper {
  margin: 0 20px;
}

.flight-section {
  font-size: 14px;
  display: flex;
  flex-direction: column;

  &.direct {
    border-bottom: 3px blue solid;
  }

  .cities-section {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 10px;
    margin: 15px 0 15px;
  }

  .right-arrow {
    background-image: url(../../assets/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    width: 40px;
    height: 40px;
  }

  .carrier-by {
    text-align: start;
    font-size: 20px;
    margin: 20px 0;
  }
}

.time-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  #arrival-time {
    font-size: 30px;

    span {
      font-size: 18px;
      font-weight: 500;
      color: blue;
    }
  }

  #total-time {
    font-size: 24px;
  }

  .time-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .connection-row {
    position: relative;
    width: 90%;

    span {
      color: orange;
      font-size: 18px;
      font-weight: 500;
    }

    &:before {
      content: "";
      position: absolute;
      left: 1px;
      top: 10px;
      background-color: rgb(141, 141, 141);
      width: 100%;
      height: 1px;
    }

    &.splice {
      &:before {
        width: 40%;
      }
  
      &:after {
        content: "";
        position: absolute;
        right: 1px;
        top: 10px;
        background-color: rgb(141, 141, 141);
        width: 40%;
        height: 1px;
      }
    }
  }
}

.flight__button {
  text-transform: uppercase;
  color: white;
  background-color: rgb(255, 187, 62);
  border: none;
  font-size: 18px;
  width: 100%;
  height: 40px;
  transition: 0.1s all ease;

  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    transform: scale(0.96);
  }
}

